<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="listeners.Listeners"/>
</listeners>
    <test name="Testing Admin Portal" preserve-order="true">
    <classes>
        <class name="admin.LoginTest"/>
        <class name="admin.SideMenuTest"></class>
        <class name="admin.GetStartedTest"></class>
        <class name="admin.AuditLogTest"></class>
        <class name="admin.SettingTest"></class>
    </classes>
    </test>

    <test name="Testing Business Portal" preserve-order="true">
        <classes>
            <class name="business.LoginTest"/>
            <class name="business.SideMenuTest"></class>
            <class name="business.GetStartedTest"></class>
            <class name="business.AuditLogTest"></class>
            <class name="business.SettingTest"></class>
        </classes>
    </test>

</suite> <!-- Suite -->
